/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 2.5rem;
  margin-bottom: 2%;
  font-family: "Rubik", sans-serif;
}
section,
footer {
  padding: 4% 0;
}
/*About Page Styles*/
.container-about-page {
  width: 80%;
  margin: 0 auto;
}
/* nav */
header nav a img {
  width: 13em;
}

header nav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em;
}

header nav a {
  color: #333;
  text-decoration: none;
}
nav {
  width: 80%;
  margin: 0 auto;
}

/* Jumbo-About */
.jumbo-about {
  padding-top: 3em;
}
.jumbo-about img {
  display: block;
  margin: 0 auto;
}
/* Top-context */

.top .top-context {
  margin: 0 auto;
  width: 80%;
}
.top .top-context h2 {
  margin: 2em 0;
}
.top .top-context p {
  font-size: large;
  text-align: justify;
}
/* Middle-content2 */

.middle-content2 {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: space-evenly;
  border-top: 2px solid #ff4b00;
}
.middle-content2 img {
  margin: 1.5em 0;
}
.middle-content2 h2 {
  margin: 1em 0;
}
.middle-content2 p {
  margin: 1em 0;
}
/* Top-content */

.top-left {
  width: 40%;
  border-bottom: 2px solid #ff4b00;
}
.top-right {
  width: 40%;
  border-bottom: 2px solid #ff4b00;
}
.bottom-left {
  width: 40%;
  border-bottom: 2px solid #ff4b00;
}
.bottom-right {
  width: 40%;
  border-bottom: 2px solid #ff4b00;
}
/* Bottom-content */

.bottom-content2 {
  margin: 0 auto;
  width: 70%;
}

.bottom-content2 p {
  font-size: large;
  text-align: justify;
}
footer {
  width: 100%;
  background-color: #ff4b00;
}

footer nav {
  display: flex;
  justify-content: space-around;
  padding: 3em;
}

footer nav a {
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  header nav a img {
    display: block;
    padding-bottom: 1em;
    margin: 0 auto;
    width: 100%;
  }

  header nav {
    display: block;
    text-align: center;
  }

  header nav a {
    margin: 0.37em;
  }
  .jumbo-about {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .jumbo-about img {
    width: 80%;
  }
  .top-context h2 {
    text-align: center;
  }
  /* Middle-content */
  .middle-content2 {
    display: block;
  }
  .middle-content2 img {
    width: 100%;
  }
  .middle-content2 h2 {
    text-align: center;
  }
  .middle-content2 p {
    text-align: justify;
  }
  .top-left {
    width: 100%;
  }
  .top-right {
    width: 100%;
  }
  .bottom-left {
    width: 100%;
  }
  .bottom-right {
    width: 100%;
  }

  /* bottom content*/
  .bottom-content2 {
    width: 80%;
  }
  .bottom-content2 h2 {
    text-align: center;
  }
  .bottom-content2 p {
    text-align: left;
  }
  /* footer */
  footer nav {
    display: block;
    padding: 0;
  }
  footer nav a {
    display: block;
    text-align: center;
    margin: 1em;
  }
}
